events{
}
http{
  server {
    listen 80;
    root   /etc/nginx/html;
    index index.html;
    include /etc/nginx/mime.types;
    location /tenant {
        rewrite ^/tenant/?(.*)$ https://develop--portal-branding.netlify.app/tenant/$1 permanent;
    }
    location / {
      index  index.html index.htm;
      try_files $uri /index.html;
    }
  }
}