name: CI pipeline

on:
  push:
    branches:
      - main

jobs:
  initial-job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Test branding 
        run: |
          echo '{{ vars.BRANDING_URL }}'
